
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
  }

header{
    background-color: aqua;
    text-align: center;
    font-size: 30px;
    padding: 20px 0;
}
.links{
    margin-top: 10px;
    display: flex;
    justify-content: space-around;       
}
.links li{
    font-size: 18px;
    background-color: snow;   
    padding: 10px;    
}
.links li a{
    text-decoration: none;
    font-style: italic;
}
.links li a:hover{
    color:rgb(227, 53, 243)
}
.links li a:active{
    color: aquamarine;
}
.links li a::after{
    content: " | ";
}

.container{
    position: relative;
    margin: auto;
    margin-top: 20px;
    width: 60vw;
    padding: 20px;
    border: 1px solid black;
    border-radius: 10px;
}
.container h1{
    text-align: center;
    padding-bottom: 20px;
}
.container p{
    font-size: 20px;
}